body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

/*---------------------------*/
/* Name display on top left  */
/*---------------------------*/

header h1 {
  font: 'Futura', sans-serif;
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0 20px;
  margin: 0;
}

/*---------------------------*/
/* Background image of Cover */
/*---------------------------*/

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/cc/ec/5a/ccec5a97b1f4e4488c5aac512125215f.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

/* .jumbotron h1 {
  text-decoration: underline overline;
} */

.jumbotron h2 {
  text-decoration: line-through;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  text-decoration: line-through;
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #00e6e6;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #00e6e6;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}